<!DOCTYPE html>
<html>
<head>
    <title>
        공정 데이터
    </title>
    <form method="GET" action="/makes">
        <h1> 공정 데이터 출력 </h1>
        <input type="text" name="num">
        <button type="submit">검색</button>
    </form><form method="GET" action="/home">
        <button type="submit">뒤로</button>
    </form>

    <div>
        <p>
            {% if num == None %}
                <h5> 아직 아무 숫자도 입력이 안되었습니다. </h5>
            {% else %}
                {% for i in range(1,3) %}
                    <p>
                        {% for datamakelist in data_list %}
                <tbody>
                    <tr>
                        <td style="width:10%;padding-right:5px">{{datamakelist}}</td></br>
                    </tr>
                </tbody>
                        {% endfor %}
                        {% endfor %}
                    </p>
            {% endif %}
        </p>
    </div>
</head>
</html>