<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Date1.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/Date.css') }}" />
    <script src="/static/js/Date1.js" defer></script>
    <script src="/static/js/Date.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>Nav bar</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <header> 
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <i class="fab fa-accusoft"></i>
        <a href="Home">DayTory</a>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="Monitoring">MONITORING</a></li>
        <li><a href="Machine">MACHINE</a></li>
        <li><a href="Date">DATE</a></li>
        <li><a href="Item">ITEM</a></li>
        <li><a href="Analysis">ANALYSIS</a></li>
        <li><a href="Predict">PREDICT</a></li>
      </ul>
      <!-- Icons -->
      <ul class="navbar__Logout">
        <li><a href="Login.html">Log Out</a></li>
      </ul>
      <!-- Toggle button -->
    <a href="#" class="navbar__toggleBtn">
    <i class="fas fa-bars"></i>
    </a>
  </nav>
</header>
<main>
  <div id="AA">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
    <figure class="highcharts-figure2">
    <div id="container1"></div>
    </figure>
  </div>
  <div id="BB">
    <br><br><br><br>
    <div id="chartContainer" style="height: 230px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </div>
  <div id="CC">
    <p id="Search"><input type="date"><input type="date">
    <input type="submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <figure class="highcharts-figure">
      <div id="container"></div>
    </figure>
    <p id="DAYTORY"><i class="fab fa-accusoft"></i>DAYTORY</p>
  </div>
</main>
</body>
</html>