<!DOCTYPE html>
<html xmlns:padding-right="http://www.w3.org/1999/xhtml">
<head>
    <title>
        제품 데이터 검색
    </title>
    <form method="GET" action="/process_load">
        <h1> 공정 데이터 </h1>
        <button type="submit">공정 검색</button></form>
    <form method="GET" action="/quality_load">
        <h1> 품질 데이터  </h1>
        <button type="submit">품질 검색</button></form>
    <form method="GET" action="/machine_load">
        <h1> 설비 데이터  </h1>
        <button type="submit">설비 검색</button></form></br>
    <form method="GET" action="/">
        <button type="submit">처음화면</button></form>
    <form method="GET" action="/home">
        <button type="submit">새로고침</button>
    </form>

</head>
</html>
