<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Item.css') }}" />
    <script src="/static/js/Item.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>Item</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <header> 
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <a id="name" href="Home" >
        <img class="Logo" src="/static/img/Logo1.png">
        </a>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="Monitoring">MONITORING</a></li>
        <li><a href="Machine">MACHINE</a></li>
        <li><a href="Date">DATE</a></li>
        <li><a href="Item">ITEM</a></li>
        <li><a href="Analysis_OP10">ANALYSIS</a></li>
        <li><a href="Predict">PREDICT</a></li>
      </ul>
      <!-- Icons -->
      <ul class="navbar__Logout">
        <li><a href="Login">Log Out</a></li>
      </ul>
      <!-- Toggle button -->
    <a href="#" class="navbar__toggleBtn">
    <i class="fas fa-bars"></i>
    </a>
  </nav>
</header>
<main>
  <div id="AA">
      <form method="GET" action="/Item">
      <p id="Search"><input type="date" name="date1"><input type="date" name="date2">
      <button type="submit">검색</button></form>
      <br>
      <button type="button" onclick="exportTableToCsv('example-table', 'Export example')">
      다운</button></p>
    <thead>
    <table id="example-table" border="1">
        <tr>
            <th>Productkey</th>
            <th>재품명</th>
            <th>재품 L</th>
            <th>재품 W</th>
            <th>재품 H</th>
            <th>BY L</th>
            <th>BY W</th>
            <th>BY H</th>
            <th>WF L</th>
            <th>WF W</th>
            <th>WF H</th>
            <th>P1 L</th>
            <th>P1 W</th>
            <th>P1 H</th>
            <th>P2 L</th>
            <th>P2 W</th>
            <th>P2 H</th>
            <th>F1 L</th>
            <th>F1 W</th>
            <th>F1 H</th>
            <th>F2 L</th>
            <th>F2 W</th>
            <th>F2 H</th>
            <th>E 10</th>
            <th>E 20</th>
            <th>E 30</th>
            <th>T 40</th>
            <th>T 50</th></br>
        </tr>
        </table>
      {% if date1 == None and date2 == None %}
      {% else %}
            {% for obj in quality_data_list %}
            <tbody>
                <tr>
                    <td style="width:10%;padding-right:5px">{{obj.product_key}}</td>
                    <td>{{obj.product_test}}</td>
                    <td style="padding-left:5px">{{obj.product_test_timestamp}}</td></br>
                </tr>
            </tbody>
            {% endfor %}
      </thead>
      {% endif %}
  </div>
</main>
</body>
</html>