<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Monitoring.css') }}" />
    <script src="/static/js/OEE.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>Monitoring</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <!--차트-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="/static/js/export-data.js"></script>
    <script src="/static/js/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>
  <body>
  <header> 
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <a id="name" href="Home" >
        <img class="Logo" src="/static/img/Logo1.png">
        </a>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="Monitoring">MONITORING</a></li>
        <li><a href="Machine">MACHINE</a></li>
        <li><a href="Quality">QUALITY</a></li>
        <li><a href="Search">SEARCH</a></li>
        <li><a href="Analysis_OP10">ANALYSIS</a></li>
        <li><a href="Predict">PREDICT</a></li>
      </ul>
      <!-- Icons -->
      <ul class="navbar__Logout">
        <li><a href="logout">Log Out</a></li>
      </ul>
      <!-- Toggle button -->
    <a href="#" class="navbar__toggleBtn">
    <i class="fas fa-bars"></i>
    </a>
  </nav>
</header>
<main>
  <div id="A">
    <p id="aa">&nbsp;&nbsp;&nbsp;설비 종합 효율</p>
    <figure class="highcharts-figure">
      <div id="container-speed" class="chart-container"></div>
      <div id="container-rpm" class="chart-container"></div>
      <div id="container-1" class="chart-container"></div>
      <div id="container-2" class="chart-container"></div>
    </figure>
  </div>
 <div id="B">
    <p id="bb">&nbsp;&nbsp;&nbsp;공정 흐름도</p>
    <video id="bbbb" muted autoplay loop>
      <source id="dddd" src="/static/img/Video8.mp4" type="video/mp4">
    </video>
  </div>
  <div id="CC">
    <br>
    <!--실시간 데이터 송출-->
    <p id="생산물품">생산물품</p>
    <div id="DD"><p id=EGR>EGR 쿨러</p></div>
    <p id="진행상황">진행상황</p>
    <h2 style="text-align:center;" class="sensor0"></h2>
    <div id="EE">
      <progress id="file" class="sensor1" max="100" style="text-align:center;" value="70"> 70% </progress>
    </div>  
    <p id="목표값">목표값</p>
    <div id="FF"><p id=egr1>8640</p></div>
    <p id="실제값">실제값</p>
    <div id="GG"><p id=egr2><h1 style="text-align:center;" class="sensor2"></h1></p>
      <script src="/static/js/Monitoring.js"></script>
    </div>
  <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="window.open('http://127.0.0.1:5147/Process');" style="width:20px; height:20px; cursor:hand; opacity:0;"></button>
  </div>
</main>
</body>
</html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <script src="/static/js/export-data.js"></script>
  <script src="/static/js/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="/static/js/OEE.js"></script>
