<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static' , 'css/Quality-style.css') }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>Nav bar</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="Quality-main.js" defer></script>
  </head>
  <body>
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <i class="fab fa-accusoft"></i>
        <a href="home">Process</a>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="machine_load">ITEM</a></li>
        <li><a href="livechart_Electronic">ELECTRONIC</a></li>
        <li><a href="livechart_Temperature">TEMPERATRUE</a></li>
        <li><a href="livechart_ProcessTime">PROCESSTIME</a></li>
        <li><a href="OEE">OEE</a></li>
        <li><a href="quality_load">QUALITY</a></li>
        <li><a href="chart">ANALYSIS</a></li>
      </ul>
      <!-- Icons -->
      <ul class="navbar__icons">
        <li><a href="Login.html">Login</a></li>
      </ul>
      <!-- Toggle button -->
      <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
  <title>
        품질 데이터
    </title>
    <form method="GET" action="/quality_load">
        <h1> 품질 데이터 출력 </h1>
        <select name = 'char2_0'>
            <option value='' selected>QC선택</option>
            <option value='Q_all'>Q_all</option>
            <option value='OK'>OK</option>
            <option value='NOK'>NOK</option>
        </select>
        <input type="date" name="char2">
        <input type="date" name="char2_1">
        <button type="submit">검색</button></form>
        <form method="post" >
            <button type="submit">그래프</button></form>
        <form method="GET" action="/home">
        <button type="submit">뒤로</button>
    </form>

{% if char2 == None and char2_1 == None %}
{% else %}
    {% for obj in quality_data_list %}
    <tbody>
        {{loop.index}}
        <tr>
            <td style="width:10%;padding-right:5px">{{obj.product_key}}</td>
            <td>{{obj.product_test}}</td>
            <td style="padding-left:5px">{{obj.product_test_timestamp}}</td></br>
        </tr>

    </tbody>
    {% endfor %}
{% endif %}

  </body>
</html>