<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Quality.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/Quality_chart.css') }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>SEARCH</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <header>
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <a id="name" href="Home" >
        <img class="Logo" src="/static/img/Logo1.png">
        </a>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="Monitoring">MONITORING</a></li>
        <li><a href="Machine">MACHINE</a></li>
        <li><a href="Quality">QUALITY</a></li>
        <li><a href="Search">SEARCH</a></li>
        <li><a href="Analysis_OP10">ANALYSIS</a></li>
        <li><a href="Predict">PREDICT</a></li>
      </ul>
      <!-- Icons -->
      <ul class="navbar__Logout">
        <li><a href="Login">Log Out</a></li>
      </ul>
      <!-- Toggle button -->
    <a href="#" class="navbar__toggleBtn">
    <i class="fas fa-bars"></i>
    </a>
  </nav>
</header>
<main>
  <div id="AA">
    <figure class="highcharts-figure">
    <form method="GET" action="/Quality_load">
      <p id="Search"><input type="date" name="date1"><input type="date" name="date2">
      <button type="submit">검색</button></form>
  <div id="container"></div>
  <table id="datatable">
    <thead>
      <tr>
        <th></th>
        <th>OK</th>
        <th>NOK</th>
      </tr>
    </thead>
      {% if date1 == None and date2 == None %}
      {% else %}
    <tbody>
      <tr>
        <th>OP10</th>
        <td>{{quality_OK_list[0]}}</td>
        <td>{{quality_NOK_list[0]}}</td>
      </tr>
      <tr>
        <th>OP20</th>
        <td>{{quality_OK_list[1]}}</td>
        <td>{{quality_NOK_list[1]}}</td>
      </tr>
      <tr>
        <th>OP30</th>
        <td>{{quality_OK_list[2]}}</td>
        <td>{{quality_NOK_list[2]}}</td>
      </tr>
      <tr>
        <th>OP40</th>
        <td>{{quality_OK_list[3]}}</td>
        <td>{{quality_NOK_list[3]}}</td>
      </tr>
      <tr>
        <th>OP50</th>
        <td>{{quality_OK_list[4]}}</td>
        <td>{{quality_NOK_list[4]}}</td>
      </tr>
    </tbody>
      {% endif %}
  </table>
</figure>
</div>
</main>
</body>
</html>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/pareto.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/static/js/Quality_chart.js"></script>