<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="table-responsive">-->
<!--        <h1>json</h1>-->
<!--        <table class="table table-bordered table-striped" id="realtime_table">-->
<!--            <tr>-->
<!--                <th>product_key</th>-->
<!--                <th>machine_code</th>-->
<!--                <th>machine_data</th>-->
<!--                <th>process_time</th>-->
<!--                <th>start_time</th>-->
<!--                <th>end_time</th>-->
<!--                <th>product_test</th>-->
<!--                <th>product_size_l</th>-->
<!--                <th>product_size_w</th>-->
<!--                <th>product_size_h</th>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{
        color:#fff;
            }
</style>


<table class="table table-striped">
    <tr class="bg-info">
        <th>product_key</th>
        <th>machine_code</th>
        <th>machine_data</th>
        <th>process_time</th>
        <th>start_time</th>
        <th>end_time</th>
        <th>product_test</th>
        <th>product_size_l</th>
        <th>product_size_w</th>
        <th>product_size_h</th>
    </tr>

    <tbody id="myTable">

    </tbody>
</table>

<script>
	var myArray = []

	$.ajax({
		method:'GET',
		url:'http://localhost:5001/realtime_data',
		success:function(response){
			myArray = response.data
			buildTable(myArray)
			console.log(myArray)
		}
	})


	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row =  `<tr>
							<td>${data[i].product_key}</td>
							<td>${data[i].machine_code}</td>
							<td>${data[i].machine_data}</td>
							<td>${data[i].process_time}</td>
							<td>${data[i].start_time}</td>
							<td>${data[i].end_time}</td>
							<td>${data[i].product_test}</td>
							<td>${data[i].product_size_l}</td>
							<td>${data[i].product_size_w}</td>
							<td>${data[i].product_size_h}</td>
					  </tr> `
			table.innerHTML += row
		}
	}
</script>