<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>Register Page</title>
    <style>
		header, footer {text-align:center;}
    </style>
</head>
<body>
<form action="/register" method="POST">
      <header class = 'form-header'>
          <h2> 회원가입 </h2>
          <div style="font-size: 30px; color:gold;">
          <i class="fas fa-star fa-3x fa-spin"></i>
          </div>
      </header>
    <footer>
    <form class = 'form-row'>
        <div >
            <h3 style="color:skyblue; font-size:150%; text-align:center">
                <label for='ID'> ID </label>
                <input id = 'ID' name="ID" type = 'text' />
                <h3>{{ID_check}}</h3>
                <button type="botton" onclick="check()" >check</button>
            </h3>
        </div>
        <p>
        <div>
         <h3 style="color:skyblue; font-size:150%; text-align:center">
            <label for='Password'> Password </label>
               <input id = 'Password' name="Password" type = 'Password' placeholder="4자 이상 20미만" />
         </h3>
        </div>
        </p>
        <div>
         <h3 style="color:skyblue; font-size:150%; text-align:center">
            <label for='repassword'> repassword </label>
               <input id = 'repassword' name="repassword" type = 'repassword' placeholder="4자 이상 20미만" />
         </h3>
        </div>
        </p>
        <div class="month-form-row">
             <h3 style="color:skyblue; font-size:150%; text-align:center"></h3>
                 <label for = 'Email'> Email</label>
                 </h3>
                 <input type="text" id="Email1" name="Email1">
                 <input type="text" id="Email2" name="Email2" >
                 <select name = "Select Email" id = "Select Email">
                <option value = "naver.com">naver.com</option>
                <option value = "daum.net">daum.net</option>
                <option value = "nate.com">nate.com</option>
                <option value = "google.com">google.com</option>
                <option value = "empal.com">empal.com</option>
                <option value = "dreamwiz.com">dreamwiz.com</option>
                <option value = "yahoo.com">yahoo.com</option>
                 </select>
        </div>
        <br>
        <button type="submit">Create</button>
    </form>
   </footer>
    </form>
    <button type="botton" onclick="check()" style="text-align:center">check</button>
               <script>
                   function check(){
                   document.getElementById("Email2").value = document.getElementById("Select Email").value
                   }
               </script>
    </body>
</html>