<html>
<head>
   <title>process data load</title>
   <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
   <script src="http://code.highcharts.com/modules/data.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var data = {
      table: 'datatable'
   };
   var chart = {
      type: 'column'
   };
   var title = {
      text: 'quality data'
   };
   var yAxis = {
      allowDecimals: 0,
      title: {
         text: '양품율'
      }
   };
   var tooltip = {
      formatter: function () {
         return '<b>' + this.series.name + '</b><br/>' +
            this.point.y + ' ' + this.point.name.toLowerCase();
      }
   };
   var credits = {
      enabled: 0
   };

   var json = {};
   json.chart = chart;
   json.title = title;
   json.data = data;
   json.yAxis = yAxis;
   json.credits = credits;
   json.tooltip = tooltip;
   $('#container').highcharts(json);
});

</script>
<table id="datatable">
<thead>
<tr><th></th><th>양품</th><th>불량품</th><th>양품율</th></tr>
</thead>
<tbody>
<tr><th>OP10</th><td>3</td><td>4</td><td>3</td></tr>
<tr><th>OP20</th><td>2</td><td>2</td><td>3</td></tr>
<tr><th>OP30</th><td>5</td><td>11</td><td>3</td></tr>
<tr><th>OP40</th><td>1</td><td>1</td><td>3</td></tr>
<tr><th>OP50</th><td>2</td><td>4</td><td>3</td></tr>
<tr><th>OP60</th><td>2</td><td>4</td><td>3</td></tr>
</tbody>
</table>
</body>
</html>
