/* Global */
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  /* Tells the browser to account for any border and 
            padding in the values you specify for an element's 
            width and height. */
  box-sizing: border-box;
}

body {
  width: 1515px;
  height: 720px;
  margin: 0;
  font-family: "Source Sans Pro";
}
main {
  background-image: url('/static/img/background.jpg');

  font-family: "Source Sans Pro";
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/* Nav container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
}

/* Logo with text */
.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo i {
  color: var(--accent-color);
}

/* Menu */
.navbar__menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}
.navbar__Logout {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

/* Icons */
.navbar__Logout li {
  padding: 8px 12px;
}

/* Toggle button */
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

/* For small screen */
@media screen and (max-width: 768px) {
  /* Nav container */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  /* Menu */
  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__menu a {
    /* Fill in an entire line so that user can click on any space */
    display: block;
  }

  /* Icons */
  .navbar__Logout {
    display: none;
    justify-content: center;
    width: 100%;
  }

  /* Toggle button */
  .navbar__toggleBtn {
    display: block;
  }

  /* When toggle button is clicked - active state */
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}

#AA {
  height: 900px;
  width: 1515px;
  color: black;
}
/*  #BB {
    background-color: orange;
    width: 900px;
    height: 333px;
    color: green;
    float: left;
  }
  #CC {
    background-color: purple;
    width: 700px;
    height: 667px;
    color: tomato;
    float: right;
  }*/
#Search {
  float: right;
  size: 200px 200px;
}

#example-table {
  font-family: "Source Sans Pro";
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 30px auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}
#example-table caption {
  font-size: 20px;
  color: #555;
}
#example-table th {
  font-weight: 1000px;
}
#example-table td,
#example-table th,
#example-table caption {
  padding: 0;
}
#example-table thead tr,
#example-table tr:nth-child(even) {
  background: #f8f8f8;
}
#example-table tr:hover {
  background: #f1f7ff;
}
.Logo {
  width: 70px;
  height: 60px;
}
