/* Global */
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  /* Tells the browser to account for any border and
              padding in the values you specify for an element's
              width and height. */
  box-sizing: border-box;
}

body {
  width: 1515px;
  height: 705px;
  margin: 0;
  font-family: "Source Sans Pro";
}
main {
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Nav container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
}

/* Logo with text */
.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo i {
  color: var(--accent-color);
}

/* Menu */
.navbar__menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}
.navbar__Logout {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

/* Icons */
.navbar__Logout li {
  padding: 8px 12px;
}

/* Toggle button */
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}


#AA {
  width: 1515px;
  float: left;
  color: black;
  box-sizing: 800px 400px;
}
#Search {
  float: right;
  size: 150px 150px;
}

#example-table {
  font-family: "Source Sans Pro";
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 30px auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  font-size: 15px;
}
#example-table caption {
  font-size: 20px;
  color: #555;
}
#example-table th {
  font-weight: 1000px;
}
#example-table td,
#example-table th,
#example-table caption {
  padding: 0;
}
#example-table thead tr,
#example-table tr:nth-child(even) {
  background: #f8f8f8;
}
#example-table tr:hover {
  background: #f1f7ff;
}
/* #CC {
      background-color: palegreen;
      width: 700px;
      height: 667px;
      color: tomato;
      float: right;
    }*/
.Logo {
  width: 70px;
  height: 60px;
}

#example-table1 {
  font-family: "Source Sans Pro";
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 30px auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  font-size: 15px;
}
#example-table1 caption {
  font-size: 20px;
  color: #555;
}
#example-table1 th {
  font-weight: 1000px;
}
#example-table1 td,
#example-table1 th,
#example-table1 caption {
  padding: 0;
}
#example-table1 thead tr,
#example-table1 tr:nth-child(even) {
  background: #f8f8f8;
}
#example-table1 tr:hover {
  background: #f1f7ff;
}
#Siz {
  font-size: 25px;
}