/* 
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: var(--text-color);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
}


.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo i {
  color: var(--accent-color);
}


.navbar__menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}
.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}


.navbar__icons li {
  padding: 8px 12px;
}


.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }


  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__menu a {

    display: block;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }


  .navbar__toggleBtn {
    display: block;
  }


  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}*/
* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #263343;
  line-height: 1.7;
  border-radius: 27px;
  width: 500px;
  margin: 50px auto;
  border: 1px solid #ccc;
}
h1 {
  display: block;
  font-size: 30px;
  border-radius: 27px;
  color: #fff;
  text-align: center;
  margin: 15px 0;
}
.label {
  font-size: 20px;
  margin: 1px 0;
  border-radius: 27px;
  padding: 0 10px;
  color: #fff;
  text-align: left;
}
.form {
  padding: 0 10px;
}
.form input {
  width: 100%;
  border-radius: 27px;
  height: 35px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
#submit {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 30px;
  background: #008b8b;
  color: white;
  border: none;
  border-radius: 27px;
  cursor: pointer;
}

.button {
  font-size: 20px;
  padding: 4px 20px;
  border-radius: 27px;
}
